{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
  </head>
  <body>
    <p>Hello. My name is Tanner Olason. I'm a software developer with experience with
    Python, PHP, JavaScript, AutoHotKey, and Perl. The bulk of my experience is automating
    tasks with scripting languages and creating websites to display the results of those tasks.</p>
    <p>My hobbies include hiking, geolocation games, and photography. All of which seem to overlap
    within my web projects.</p>
  </body>
</html>
{% endblock %}
