{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>About Page</title>

  </head>
  <body>
    <script type="text/javascript">
      window.onload = function(){
        function getPhoto(name, url) {
          if (!url) url = window.location.href;
          name = name.replace(/[\[\]]/g, '\\$&');
          var reg = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = reg.exec(url);
          if (!results) return null;
          if (!results[2]) return '';
          return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
        var pic = getPhoto('link');
        var insert = "<a-scene embedded><a-sky src=../"+pic+"></a-sky></a-scene>"
        //var insert = '<a-scene embedded><a-sky src="http://127.0.0.1:8000/world/media/static/images/R0010217_20210830104636.JPG"></a-sky></a-scene>'
        //var insert = '<h1>"http://127.0.0.1:8000/world/media/static/images/R0010217_20210830104636.JPG"</h1>'
        //alert(insert)
        document.getElementById('wrapper2').innerHTML = insert;
      }
    </script>
  </body>
</html>
{% endblock %}
